{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	background-color:#0E3D14;
	color: #FFF;
}

.lightgrey {
    background-color:#e6e6e6;
    }
.grey {
    background-color:#cccccc;
    }
{% endblock %}
</style>

{% block content %}
 {% if not request.user.is_authenticated %}
<h1> {{ message }}</h1>

	{% else %}

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1> {{ title }}</h1>

        <table>
            <tr style="color:Blue;" class="lightgrey">
                <td>Nr.</td>
                <td style="padding-left:5px;">Skole</td>
                <td style="padding-left:15px;">Kurs/Fag</td>
                <td style="padding-left:15px;">Påbegynt</td>
                <td style="padding-left:20px;">Avsluttet</td></tr>
            {% for instanse in queryset %}
            <tr class="{% cycle 'grey' 'lightgrey' %}">
                <td>{{ forloop.revcounter }}</td>
                <td style="padding-left:5px; padding-bottom:10px;">{{ instanse.school }}</td>
                <td style="padding-left:20px; padding-bottom:10px;">{{ instanse.course }}</td>
                <td style="padding-left:20px; padding-bottom:10px;">  {{ instanse.year_from.year }}</td>
                <td style="padding-left:25px; padding-bottom:10px;">  {{ instanse.year_to.year }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>



</div>

{% endif %}

{% endblock %}





