{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>
{% block style %}
.navbar-static-top {
	margin-bottom: 0px !important;
}
.jumbotron {
	background-color:#0E3D14;
	color: #FFF;
}
{% endblock %}
</style>

{% block content %}
 {% if not request.user.is_authenticated %}
<h1> {{ message }}</h1>

	{% else %}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1> {{ title }}</h1>

        <table style="border:black solid 2px;">
            <tr style="color:Blue;"><td>Arb.giver</td><td style="padding-left:15px;">Stilling</td>
                <td style="padding-left:15px;">Oppgaver</td><td style="padding-left:20px;">Startet</td>
            <td style="padding-left:20px;">Sluttet</td></tr>
            {% for instanse in queryset %}
            <tr>
                <td style="padding-left:5px; padding-bottom:10px;" colspand="1">{{ instanse.employer }}</td>
                <td style="padding-left:20px; padding-bottom:10px;">{{ instanse.position }}</td>
                <td style="padding-left:20px; padding-bottom:10px;">{{ instanse.chores }}</td>
                <td style="padding-left:20px; padding-bottom:10px;">  {{ instanse.year_from.year }}</td>
                <td style="padding-left:20px; padding-bottom:10px;">  {{ instanse.year_to.year }}</td>

            </tr>
            {% endfor %}
        </table>
    </div>



</div>

{% endif %}

{% endblock %}





